[submodule "upstream/tcpdump"]
	path = upstream/tcpdump
	url = https://github.com/the-tcpdump-group/tcpdump.git
[submodule "upstream/libpcap"]
	path = upstream/libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "upstream/strace"]
	path = upstream/strace
	url = https://github.com/strace/strace.git
[submodule "upstream/gdb"]
	path = upstream/gdb
	url = https://github.com/gnutools/binutils-gdb.git
	shallow = true
[submodule "upstream/nmap"]
	path = upstream/nmap
	url = https://github.com/nmap/nmap.git
	shallow = true
[submodule "upstream/jq"]
	path = upstream/jq
	url = https://github.com/jqlang/jq.git
	shallow = true
